   <div class="col-lg-3 product_item" style="padding-top: 0px;">
        <div class="parent">
            <div class="child">
                <div>
                    <a href="{% url 'collection_singl_ukr' result_only_c.name_collection.id %}">

                        <img src="{{ result_only_c.image_collection.url }}" class="img-responsive">
                        {% if result_only_c.name_collection.name_collection_nhs != None %}
                            <span style="position: absolute; top: 2%; background: orange; color: black;
                            font-weight: 600; margin-left: 10px; padding-bottom: 3px; padding-right: 3px;
                            padding-top: 3px; padding-left: 3px;">
                            {{ result_only_c.name_collection.name_collection_nhs.name_collection_nhs_ukr }}</span>
                        {% endif %}

                    </a>
                </div>
                <div>
                    <a href="{% url 'collection_singl_ukr' result_only_c.name_collection.id %}">
                        <h5 class="text-center" style="line-height: 1.5">
                            <strong>{{ result_only_c.name_collection.manufacturer_collection }}</strong><br>
                            <span>

                                <strong><b>{{ result_only_c.name_collection.name_collection }}</b></strong>
                            </span>
                        </h5>

                        <h5 class="text-center" style="line-height: 1.5">
                            <div class="for_collection_products_item_bloc">
                                {{ result_only_c.name_collection.short_description_collection_ukr | truncatechars_html:280 | safe }}
                            </div>
                        </h5>
                    </a>

                    <div class="add-to-card-btn text-center">
                        <p>
                            <a href="{% url 'collection_singl_ukr' result_only_c.name_collection.id %}">
                                <button class="btn btn-lg btn-block btn-success" style="padding-top: 10px; padding-bottom: 10px">Детальніше</button>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
