{% extends "base_ukr.html" %}

{% block meta_keywords %}
    <meta name="keywords" content="{{ manufacturer_singl_web.keyword_ukr }}">
{% endblock meta_keywords %}

{% block meta_description %}
        <meta name="description" content="{{ manufacturer_singl_web.description_ukr }}">
{% endblock meta_description %}

{% block title %}
    {{ manufacturer_singl_web.title }}
{% endblock title %}

{% block meta_title %}
    <meta name="title" content="{{ manufacturer_singl_web.title_ukr }}">
{% endblock meta_title %}

{% block meta_og_title %}
    <meta property="og:title" content="{{ manufacturer_singl_web.title_ukr }}">
{% endblock meta_og_title %}

{% block meta_og_description %}
    <meta property="og:description" content="{{ manufacturer_singl_web.description_ukr }}">
{% endblock meta_og_description %}

{% block content %}
<div style="padding-right: 40px; padding-left: 40px; padding-top: 25px;">
    <ol class="breadcrumb breadcrumb-arrow" style="background-image: linear-gradient(#f5f5f5, #ffffff);
    box-shadow: 0 0 3px rgba(0,0,0,0.1);">
        <li><a href="{% url 'main_ukr'%}"><i class=""></i> Головна</a></li>
        <li><a href="{% url 'manufacturer_ukr'%}"><i class=""></i> Каталог</a></li>
        <li class="active"><span><i class=""></i> {{ manufacturer_singl_web.name_manufacturer }}</span></li>
    </ol>
</div>

<div class="section" style="padding-right: 40px; padding-left: 40px; padding-top: 10px">
    <div class="row">
        <div class="col-lg-3" style="padding-left: 40px">
            <h1>{{ manufacturer_singl_web.name_manufacturer }}</h1>
        </div>
        <div class="col-lg-6" style="padding-top: 20px">
        <!--Текст с кнопками читать далее - Начало-->
        <div id="h0" style="line-height: 1.5">
           {{ manufacturer_singl_web.short_description_manufacturer_ukr | safe }}
            <button type="submit" onClick="document.getElementById('h0').style.display='none';document.getElementById('h1').style.display='';return false;" class="btn btn-success">Читати далі</button>
           </div>
        <div id="h1" style="display:none; line-height: 1.5">
                {{ manufacturer_singl_web.short_description_manufacturer_ukr | safe }}
                {{ manufacturer_singl_web.description_manufacturer_ukr | safe }}
            <div class="text-align:  center">
            <button type="submit" onClick="document.getElementById('h1').style.display='none';document.getElementById('h0').style.display='';return false;" class="btn btn-success">Приховати текст</button>
            </div>
        </div>
        <!--Текст с кнопками читать далее - конец-->

        </div>
        <div class="col-lg-3">
                <img src="{{ manufacturer_singl_web.image_logo_manufacturer.url }}" class="img-responsive">
        </div>
    </div>
</div>

<div class="collection_products_item" style="padding-right: 40px; padding-left: 40px; margin-bottom: 5px;">
    <ol class="breadcrumb breadcrumb-arrow" style="background-image: linear-gradient(#f5f5f5, #ffffff);
    box-shadow: 0 0 3px rgba(0,0,0,0.1);">
        <div class="section">
            <div class="row">
                <div class="col-lg-3">
                    <h2><b style="padding-left: 15px">Швидкий відбір:</b></h2>
                </div>
                <form method="GET">

                    <div class="col-lg-2">
                        <button type="button" class="btn btn-lg btn-success btn-sm dropdown-toggle"
                                style="border-radius: 0px; width: 100%; padding-top: 10px; padding-bottom: 10px; font-size: 14px"
                                data-toggle="dropdown">
                            Оберіть застосування
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="width: 100%">
                            <li><a class="small" data-value="bathrooms" name="search_hight" value=bathrooms tabIndex="-1"><input name="application" value=bathrooms type="checkbox"/>&nbsp;Для ванних кімнат</a></li>
                            <li><a class="small" data-value="floor" name="search_hight" value=floor tabIndex="-1"><input name="application" value=floor type="checkbox"/>&nbsp;Для кухні / Плитка для підлоги</a></li>
                            <li><a class="small" data-value="apron" name="search_hight" value=apron tabIndex="-1"><input name="application" value=apron type="checkbox"/>&nbsp;Для кухні / Фартух</a></li>
                            <li><a class="small" data-value="outdoor" name="search_hight" value=outdoor tabIndex="-1"><input name="application" value=outdoor type="checkbox"/>&nbsp;Для вуличного застосування</a></li>
                            <li><a class="small" data-value="residential" name="search_hight" value=residential tabIndex="-1"><input name="application" value=residential type="checkbox"/>&nbsp;Житловий інтер'єр</a></li>
                            <li><a class="small" data-value="projects" name="search_hight" value=projects tabIndex="-1"><input name="application" value=projects type="checkbox"/>&nbsp;Громадські інтер'єри</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2">
                        <button type="button" class="btn btn-lg btn-success btn-sm dropdown-toggle"
                                style="border-radius: 0px; width: 100%; padding-top: 10px; padding-bottom: 10px; font-size: 14px"
                                data-toggle="dropdown">
                            Виберіть наявність
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="width: 100%">
                            {% for availability_s_web in availability %}
                                <li><a class="small" data-value="{{ availability_s_web.id }}" name="search_hight" value={{ availability_s_web.id }} tabIndex="-1"><input name="availability" value={{ availability_s_web.id }} type="checkbox"/>&nbsp;{{ availability_s_web.name_availability_ukr }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col-lg-3">
                        <button type="button" class="btn btn-lg btn-success btn-sm dropdown-toggle"
                                style="border-radius: 0px; width: 100%; padding-top: 10px; padding-bottom: 10px; font-size: 14px"
                                data-toggle="dropdown">
                            Виберіть ціновий діапазон
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="width: 100%">
                            {% for price_web in price_group %}
                                <li><a class="small" data-value="{{ price_web.id }}" name="search_hight" value={{ price_web.id }} tabIndex="-1"><input name="price" value={{ price_web.id }} type="checkbox"/>&nbsp;{{ price_web.name_price_group }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col-lg-2">
                        <p><input class="btn btn-lg btn-block btn-success" type="submit" name="cancel" value="Скинути фільтр пошуку"></p>
                    </div>
                    <br>

                    <div class="col-lg-9 col-lg-offset-3">
                        <p><input class="btn btn-lg btn-block btn-success" type="submit" name="find" value="Шукати"></p>
                    </div>

                </form>
            </div>
        </div>
    </ol>
</div>

{% if view_all_help == True %}
    <div class="collection_products_item" style="padding-right: 40px; padding-left: 40px; margin-bottom: 5px;">
        <ol class="breadcrumb breadcrumb-arrow" style="background-image: linear-gradient(#f5f5f5, #ffffff);
        box-shadow: 0 0 3px rgba(0,0,0,0.1);">
            <div class="section">
                <div class="row">

                    <div class="col-lg-3">
                        <h4><b style="padding-left: 15px">Критерії пошуку: </b></h4>
                    </div>

                    <div class="col-lg-9">

                        {% if view_all_price == True %}
                            <h5>
                                <span><b>Ціновий диаппазон:&nbsp;</b></span>
                                {% for price_info in info_price_veb %}
                                    <span>&nbsp;{{ price_info.name_price_group }}&nbsp;&nbsp;</span>
                                {% endfor %}
                            </h5>
                        {% endif %}

                        {% if view_all_availability == True %}
                            <h5>
                                <span><b>Наявність:&nbsp;</b></span>
                                {% for availability_info in info_availability_veb %}
                                    <span>&nbsp;{{ availability_info.name_availability_ukr }}&nbsp;&nbsp;</span>
                                {% endfor %}
                            </h5>
                        {% endif %}

                        {% if view_all_application == True %}
                            <h5>
                                <span><b>Застосування:&nbsp;</b></span>
                                {% for application in result_application %}
                                    <span>&nbsp;{{ application }}&nbsp;&nbsp;</span>
                                {% endfor %}
                            </h5>
                        {% endif %}

                    </div>
                </div>
            </div>
        </ol>
    </div>
{% endif %}

<div style="padding-right: 40px; padding-left: 40px">
    {% for collection_for_manufacturer_web in collection_for_manufacturer_singl_image_web %}
            {% include 'products/collection_item_ukr.html' %}
    {% endfor %}
</div>



<!--Пагинация страницы - начало-->
{% if response_view == True %}
    <div class="section" align="center" style="padding-right: 40px; padding-left: 40px; padding-top: 10px">
        <div class="row example-pagination">
            <div class="col-md-12">
                <ul class="pagination" style="box-shadow: 0 0 3px rgba(0,0,0,0.1);">
                    {% if collection_for_manufacturer_singl_image_web.has_previous %}
                        <li>
                            <a href="{{ response_for_web.response }}&page={{ collection_for_manufacturer_singl_image_web.previous_page_number }}">
                                назад
                            </a>
                        </li>
                    {% endif %}
                    <li class="disabled">
                        <a>
                            сторінка {{ collection_for_manufacturer_singl_image_web.number }}
                            з {{ collection_for_manufacturer_singl_image_web.paginator.num_pages }}
                        </a>
                    </li>
                    {% if collection_for_manufacturer_singl_image_web.has_next %}
                        <li>
                            <a href="{{ response_for_web.response }}&page={{ collection_for_manufacturer_singl_image_web.next_page_number }}">
                                вперед
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}


{% if response_view == False %}
    <div class="section" align="center" style="padding-right: 40px; padding-left: 40px; padding-top: 10px">
        <div class="row example-pagination">
            <div class="col-md-12">
                <ul class="pagination" style="box-shadow: 0 0 3px rgba(0,0,0,0.1);">
                    {% if collection_for_manufacturer_singl_image_web.has_previous %}
                        <li>
                            <a href="?page={{ collection_for_manufacturer_singl_image_web.previous_page_number }}">
                                назад
                            </a>
                        </li>
                    {% endif %}
                    <li class="disabled">
                        <a>
                            сторінка {{ collection_for_manufacturer_singl_image_web.number }}
                            з {{ collection_for_manufacturer_singl_image_web.paginator.num_pages }}
                        </a>
                    </li>
                    {% if collection_for_manufacturer_singl_image_web.has_next %}
                        <li>
                            <a href="?page={{ collection_for_manufacturer_singl_image_web.next_page_number }}">
                                вперед
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}

<!--Пагинация страницы - конец-->

{% endblock content %}
