{% extends "base_for_shadow.html" %}

{% block content %}
{% if show == True %}

    <div style="padding-right: 20px; padding-left: 20px; padding-top: 10px; margin-bottom: 15px;">
        <ol class="breadcrumb breadcrumb-arrow" style="background-image: linear-gradient(#f5f5f5, #ffffff);
        box-shadow: 0 0 3px rgba(0,0,0,0.1);">
            <li><a href="{% url 'shadow'%}"><i class=""></i> Теневая область</a></li>
            <li><a href="{% url 'projects_and_orders'%}"><i class=""></i> Заказы и проекты</a></li>
            <li class="active"><span><i class=""></i> Проекты и спецификации</span></li>
        </ol>
    </div>

    <div class="row" style="margin-left: 0px; margin-right: 0px;">
        <div class="col-lg-6" style="padding-right: 20px; padding-left: 20px; padding-top: 10px">
            <ol class="breadcrumb breadcrumb-arrow" style="background-image: linear-gradient(#f5f5f5, #ffffff); box-shadow: 0 0 3px rgba(0,0,0,0.1);">
                <ol class="breadcrumb breadcrumb-arrow" style="background-image: linear-gradient(#f5f5f5, #ffffff); box-shadow: 0 0 3px rgba(0,0,0,0.1);">
                    <h5 align="center" style="font-size: 150%"><b>Проекты и спецификации</b></h5>
                    <hr style="margin-bottom: 5px; margin-top: 5px; border-top: 2px solid #ffbf00">
                    <h5 align="center" style="font-size: 120%">Общее количество зарегистрированных проектов - {{ progects_all.count }}</h5>
                    <hr style="margin-bottom: 5px; margin-top: 5px; border-top: 1px solid #ffbf00">

                    {% for status in status_all_rigth %}
                        <!--ID статуса - {{ status.id }}<br>-->
                        <h5 style="font-size: 100%" align="left">
                            <span><b>Наименование статуса</b> - {{ status.name_status }}</span>
                        </h5>
                        {% for result in sum_resul_right %}
                            {% if result.id == status.id %}
                                <h5 style="font-size: 100%" align="left">
                                    <span><b>Колличество ордеров данного статуса</b> - {{ result.leni }}</span>
                                </h5>

                                <h5 style="font-size: 100%" align="left">
                                    <span><b>ID проектов и спецификаций</b> -
                                        {% for project in result.project %}
                                            {{ project.id }}
                                        {% endfor %}
                                    </span>
                                </h5>
                            {% endif %}
                        {% endfor %}
                        <hr style="margin-bottom: 5px; margin-top: 5px">
                    {% endfor %}
                </ol>

                <ol>
                    &nbsp;
                </ol>

                <form method="GET">
                    <div>
                        <ol class="breadcrumb breadcrumb-arrow" style="background-image: linear-gradient(#f5f5f5, #ffffff); box-shadow: 0 0 3px rgba(0,0,0,0.1);">
                            <h5 align="center" style="font-size: 150%"><b>Параметры фильтрации</b></h5>

                            <!--Параметры поиска по СТАТУСУ ЗАКАЗА - начало -->

                            <div class="col-lg-12">
                                <button type="button" class="btn btn-lg btn-success btn-sm dropdown-toggle"
                                        style="border-radius: 0px; width: 100%; padding-top: 10px; padding-bottom: 10px; font-size: 14px;
                                        margin-top: 20px"
                                        data-toggle="dropdown">
                                    Выберите статус заказа
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" style="width: 100%">
                                    {% for summ_single in sum_resul_right %}
                                        <li><a class="small" data-value="{{ summ_single.id }}" name="search_hight"
                                               value={{ summ_single.id }} tabIndex="-1">
                                            <input name="status_id" value={{ summ_single.id }} type="checkbox"/>
                                            &nbsp;{{ summ_single.status_name }}
                                        </a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!--Параметры поиска по СТАТУСУ ЗАКАЗА - конец -->


                            <div class="col-lg-12" style="margin-top: 10px">
                                <p><input class="btn btn-lg btn-block btn-success" type="submit" name="find" value="Искать"></p>
                            </div>

                            <div class="col-lg-12" style="margin-top: 10px">
                                <p><input class="btn btn-lg btn-block btn-success" type="submit" name="cancel" value="Сбросить фильтр поиска"></p>
                            </div>
                            <div>
                                <h5 align="center" style="font-size: 80%"><b>(Выберите необходимые параметры)</b></h5>
                            </div>
                        </ol>
                    </div>
                </form>
            </ol>
        </div>


        <div class="col-lg-6" style="padding-right: 20px; padding-left: 20px; padding-top: 10px">
            <ol class="breadcrumb breadcrumb-arrow" style="background-image: linear-gradient(#f5f5f5, #ffffff); box-shadow: 0 0 3px rgba(0,0,0,0.1);">
                <ol class="breadcrumb breadcrumb-arrow" style="background-image: linear-gradient(#f5f5f5, #ffffff); box-shadow: 0 0 3px rgba(0,0,0,0.1);">
                    <h5 align="center" style="font-size: 150%"><b>Список</b></h5>
                </ol>

                <ol>
                    &nbsp;
                </ol>


                {% for result in sum_resul %}
                    {% if result.leni != 0 %}
                        {% for project_single in result.project %}
                            <ol class="breadcrumb breadcrumb-arrow" style="background-image: linear-gradient(#f5f5f5, #ffffff); box-shadow: 0 0 3px rgba(0,0,0,0.1);">
                                <div style="padding-left: 10px; padding-right: 10px">
                                    <hr style="margin-bottom: 5px; margin-top: 5px; border-top: 5px solid #ffbf00">
                                    <div align="center" style="font-size: 120%">
                                        <b>ID проекта</b> - {{ project_single.id }}<br>
                                        <span style="font-size: 80%">
                                            <a href="{% url 'session_key_eye' project_single.session_key %}" target="_blank">
                                                (подробнее о пользователе)
                                            </a>

                                        </span>

                                    </div>

                                    <hr style="margin-bottom: 5px; margin-top: 5px; border-top: 2px solid #ffbf00">

                                    <span><b>Статус проекта </b> - {{ result.status_name }}</span><br>
                                    <span><b>Дата подачи проекта </b> - {{ project_single.created }}</span><br>
                                    <span><b>ФИО заказчика </b> - {{ project_single.customer_name }}</span><br>
                                    <span><b>Телефон заказчика </b> - {{ project_single.customer_phone }}</span><br>
                                    <!--<span><b>Прикрепленный файл </b> - {{ project_single.project }}</span>-->
                                    <hr style="margin-bottom: 5px; margin-top: 5px; border-top: 1px solid #ffbf00">
                                     <h5 style="font-size: 100%" align="left">
                                        <span>
                                            <b>Приложенная спецификация</b> - {{ project_single.project }}<br>
                                            <a href="{% url 'main'%}media/{{ project_single.project }}" target="_blank" download>Скачать прикрепленный файл</a>
                                        </span>
                                    </h5>
                                    <hr style="margin-bottom: 5px; margin-top: 5px; border-top: 1px solid #ffbf00">

                                     {% for vtorostep in list_id_result %}
                                        {% if vtorostep.id_project == project_single.id %}
                                            <span>
                                                <h5 style="font-size: 90%">
                                                    <b>Количество комментариев</b> - {{ vtorostep.leni }}
                                                </h5>
                                            </span>
                                            <span>
                                                <h5 style="font-size: 90%">
                                                    <b>Дата последнего комментария </b> - {{ vtorostep.max_id.created }}<br>
                                                    <b>Автор последнего комментария </b> - <b>{{ vtorostep.max_id.autor.surname }} {{ vtorostep.max_id.autor.name }} {{ vtorostep.max_id.autor.last_name }}</b>
                                                    ({{ vtorostep.max_id.autor.dolgnoct.dolgnost_nasvanie }})
                                                </h5>
                                            </span>
                                        {% endif %}
                                    {% endfor %}

                                    <div class="add-to-card-btn text-center">
                                        <p>
                                            <a href="{% url 'project_singl' project_single.id %}">
                                                <button class="btn btn-lg btn-block btn-success" style="padding-top: 5px; padding-bottom: 5px">Подробнее</button>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </ol>

                            <ol>
                                &nbsp;
                            </ol>
                        {% endfor %}
                    {% endif %}
                {% endfor %}

            </ol>
        </div>
    </div>
{% endif %}
{% endblock content %}