<!--<nav>-->
    <!--<ul>-->
        <!--<li id="login">-->
            <!--<a class="active" id="login-trigger" href="#">-->
                <!--Расширенный поиск <span>&#9650;</span>-->
            <!--</a>-->
            <!--<div style="display: none;" id="login-content">-->
                <!--<form>-->
                    <!--<fieldset id="inputs">-->
                        <!--<input id="username" name="Email" placeholder="Ваш Email" required="" type="email">-->
                        <!--<input id="password" name="Password" placeholder="Пароль" required="" type="password">-->
                    <!--</fieldset>-->
                    <!--<fieldset id="actions">-->
                        <!--<input value="Войти" type="submit">-->
                        <!--<input value="Войти" type="submit">-->
                        <!--<input value="Войти" type="submit">-->
                        <!--<input value="Войти" type="submit">-->
                        <!--<input value="Войти" type="submit">-->
                        <!--<input value="Войти" type="submit">-->
                        <!--<label><input checked="checked" type="checkbox"> Запомнить</label>-->
                    <!--</fieldset>-->
                <!--</form>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li id="signup">-->
            <!--<a href="">Поиск</a>-->
        <!--</li>-->
        <!--<li id="search_hight">-->
            <!--<a href="">Поиск</a>-->
        <!--</li>-->
        <!--</li>-->
    <!--</ul>-->
<!--</nav>-->